*{
    text-align: center;
    margin-top: 40px;

}

h1 {
    margin: 0;
    color: orange;
    font-size: 36px;
}
.list1,.list2 , .list3{
    display: grid;
    grid-template-columns: repeat(3,auto);
    border-radius: 6px;
    margin-top: 5px;
}

 #b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
    width: 80px;
    height: 52px;
     border: 1px solid red; 
     margin: auto;
     box-shadow: 2px 2px 2px 2px #92b4c4;
     border: 2px solid white;
    border-left: 3px solid darkcyan;
    text-align: center;
    font-size: 32px;
    border-radius: 6px;

}

#res {
    width: 90px;
    height: 50px;
    font-size: 20px;
    margin-top: 0;
    background-color: dodgerblue;
    border-radius: 4px;
    border: 1px solid dodgerblue;
    cursor: pointer;
    border: 1px solid red;
}

#print {

    color: dodgerblue;
    font-size: 20px;
}

.grid {
    margin-top: 0;
    border: 1px solid red;
    width: 300px;
    height: 190px;
    margin-left: 550px;
   
}

#ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
    margin: 0;
    border: 1px solid red;
}
