* {
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}

.main {
    text-align: center;
    margin-top: 40px;
}
label{
    color: black;
    font-size: 28px;
}
h1 {
    color: orange;
    font-size: 36px;
}
.list1,.list2 , .list3{
    display: flex;
    margin-top: 5px;
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
    width: 80px;
    height: 52px;
    /* border: 1px solid red; */
    margin: auto;
    border-left: 3px solid darkcyan;
    text-align: center;
    font-size: 32px;
    border-radius: 6px;

}

#res {
    width: 90px;
    height: 50px;
    font-size: 20px;
    background-color: dodgerblue;
    border-radius: 4px;
    border: 1px solid dodgerblue;
    cursor: pointer;
}

#print {
    color: dodgerblue;
    font-size: 20px;
}

.grid {
    width: 300px;
    height: 180px;
    margin-left: 550px;
}

#ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
}

.vl {
    border-left: 6px solid green;
    /* height: 800px; */
}
.hr{
    border: 2px solid black;
}